
.future1 {
    background-image: url('./component/imgs/1-bg.png');
    background-size: 100%;
    background-repeat: no-repeat;

    .icon {
        width: 230px;
        height: 73px;
        margin: 17px 0px 0px 55px;
    }

    .title {
        margin: 74px auto 19px;
        text-align: center;

        img {
            width: 559px;
            height: 93px;
        }
    }

    .desc {
        font-size: 24px;
        font-family: SourceHanSansCN-Regular;
        font-weight: 400;
        color: rgba(40, 40, 40, 1);
        line-height: 38px;
        margin: 5px 10px;
        text-align: center;
    }

    .clinic {
        margin: 54px auto 0px;
        text-align: center;

        img {
            width: 538px;
            height: 648px;
        }
    }
}

.future5 {
    position: relative;

    .feature5_bg {
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .item {
        padding-left: 46px;
        padding-top: 34px;
        padding-right: 46px;
        display: flex;

        .icon {
            img {
                width: 56px;
                height: 56px;
            }

            padding-right: 24px;
        }

        .title {
            font-size: 32px;
            font-family: SourceHanSansCN-Bold;
            font-weight: bold;
            color: rgba(36, 158, 141, 1);
            line-height: 32px;
            background: linear-gradient(215deg, rgba(35, 168, 192, 1) 0%, rgba(56, 192, 161, 1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-top: 6px;
        }

        .desc {
            font-size: 28px;
            font-family: PingFangSC-Light;
            font-weight: 300;
            color: rgba(51, 51, 51, 1);
            line-height: 42px;
            margin-top: 16px;
        }
    }
}

.container_future9 {
    background-size: cover;
    overflow: hidden;

    .feature9_bg {
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }

    .title {
        margin: 40px auto auto 40px;
        font-size: 44px;
        font-family: PingFangSC-Medium;
        font-weight: 500;
        color: rgba(78, 177, 51, 1);
        line-height: 56px;
        background: linear-gradient(56deg, rgba(57, 193, 160, 1) 0%, rgba(34, 166, 195, 1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .bar {
        margin-top: 32px;

        li {
            height: 182px;
            margin: 24px 57px auto 40px;
            padding-right: 36px;
            display: flex;
            justify-content: flex-start;
            // align-items: center;
            flex-direction: column;

            .bigName {
                font-size: 32px;
                font-family: SourceHanSansCN-Medium;
                font-weight: 500;
                color: rgba(51, 51, 51, 1);
                line-height: 48px;
                margin-top: 33px;
            }

            .smallName {
                font-size: 28px;
                font-family: PingFangSC-Light;
                font-weight: 300;
                color: rgba(51, 51, 51, 1);
                line-height: 42px;
                margin-top: 16px;
            }

            &:nth-child(1) {
                background: url('././component/1.png') no-repeat right;
                background-size: auto 100%;
            }

            &:nth-child(2) {
                background: url('././component/2.png') no-repeat right;
                background-size: auto 100%;
            }

            &:nth-child(3) {
                background: url('././component/3.png') no-repeat right;
                background-size: auto 100%;
            }

            &:nth-child(4) {
                background: url('././component/4.png') no-repeat right;
                background-size: auto 100%;
            }

            &:nth-child(5) {
                background: url('././component/5.png') no-repeat right;
                background-size: auto 100%;
            }
        }
    }
}

.container_future7 {
    height: 100vh;
    position: relative;
    overflow: hidden;

    .title {
        margin: 40px auto 46px 40px;
        font-size: 44px;
        font-family: PingFangSC-Medium;
        font-weight: 500;
        color: rgba(78, 177, 51, 1);
        line-height: 56px;
        background: linear-gradient(56deg, rgba(57, 193, 160, 1) 0%, rgba(34, 166, 195, 1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .bar {
        display: flex;
        flex-wrap: wrap;
        margin-left: 22px;

        li {
            height: 146px;
            width: 46%;
            margin-top: 10px;
            display: flex;
            // justify-content: center;
            align-items: center;
            box-sizing: border-box;
            padding-left: 35px;

            img {
                width: 72px;
                height: 72px;
            }

            span {
                font-size: 28px;
                font-family: PingFangSC-Medium;
                font-weight: 500;
                color: rgba(51, 51, 51, 1);
                line-height: 48px;
                margin-left: 36px;
            }
        }
    }

    .nextBtn {
        width: 73px;
        height: 39px;
        background: url('./component/aa.png') no-repeat center;
        background-size: 100% auto;
        position: absolute;
        bottom: 55px;
        left: 50%;
        transform: translate(-50%, 0);
        animation: faddown 2s ease-in-out 0s infinite;
    }
}

.future10 {
    .bg {
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }

    .secondPage_title {
        position: relative;
    }

    .secondPage_sequence {
        position: absolute;
        font-size: 160px;
        font-family: SourceHanSansCN-Heavy;
        font-weight: 800;
        color: rgba(248, 252, 251, 1);
        line-height: 160px;
        top: 0px;
        left: 21px;
        z-index: -1;
    }

    .secondPage_title_parent {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    .secondPage_title_tag {
        width: 9px;
        height: 53px;
        background: linear-gradient(
            98deg,
            rgba(57, 193, 160, 1) 0%,
            rgba(34, 166, 195, 1) 100%
        );
        margin-top: 56px;
        z-index: 2;
    }

    .secondPage_title_name {
        font-size: 56px;
        font-family: PingFangSC-Medium;
        font-weight: 500;
        color: rgba(78, 177, 51, 1);
        line-height: 56px;
        background: linear-gradient(
            56deg,
            rgba(57, 193, 160, 1) 0%,
            rgba(34, 166, 195, 1) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-left: 31px;
        margin-top: 56px;
        z-index: 3;
    }

    .secondPage_subtitle {
        font-size: 24px;
        font-family: PingFangSC-Light;
        font-weight: 300;
        color: rgba(0, 0, 0, 0.5);
        line-height: 33px;
        margin-left: 40px;
        margin-top: 16px;
        text-align: left;
        z-index: 3;
    }

    .bar {
        margin-top: 32px;

        li {
            // height: 182px;
            margin: 24px 44px auto 40px;
            // padding-right: 36px;
            display: flex;
            justify-content: flex-start;
            // align-items: center;
            flex-direction: column;
            position: relative;

            .imgName {
                width: 5px;
                height: 41px;
                position: absolute;
                left: 7px;
                top: -6px;
            }

            .imgHead {
                width: 144px;
                height: 144px;
                position: absolute;
                right: 0px;
                top: -19px;
            }

            .bigName {
                font-size: 32px;
                font-family: SourceHanSansCN-Medium;
                font-weight: 500;
                color: rgba(51, 51, 51, 1);
                line-height: 48px;
                margin-top: 33px;
            }

            .smallName {
                font-size: 28px;
                font-family: PingFangSC-Light;
                font-weight: 300;
                color: rgba(51, 51, 51, 1);
                line-height: 42px;
                margin-top: 16px;
            }
        }
    }
}

@keyframes faddown {
    0 {
        opacity: 0;
        bottom: 70px;
    }

    50% {
        opacity: 1;
        bottom: 30px;
    }
}

.future-page {
    position: relative;
}

.pulldown {
    position: absolute;
    bottom: 44px;
    left: 50%;
    opacity: 0;
    z-index: 99;
    transform: translateX(-50%);
    animation: faddown 2s ease-in-out 0s infinite;

    img {
        width: 73px;
        height: 39px;
    }
}