.thirdPage {
    background: url('../component/Future3Images/thirdPage_background.png') no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.thirdPage_2 {
    width: 50%;
    height: 516px;
    margin-top: 55px;
}

.thirdPage_2_content {
    margin-top: 134px;
    margin-left: 67px;
    position: relative;
}

.thirdPage_2_bg {
    width: 130px;
    height: 130px;
    position: absolute;
    top: 76px;
    left: 135px;
}

.thirdPage_1 {
    width: 50%;
    height: 516px;
    margin-top: 55px;
}

.thirdPage_1_content {
    margin-top: 0px;
    margin-left: 67px;
    position: relative;
}

.thirdPage_1_bg {
    width: 130px;
    height: 130px;
    position: absolute;
    top: 76px;
    left: 135px;
}

.thirdPage_4 {
    width: 50%;
    height: 516px;
}

.thirdPage_4_content {
    margin-top: 134px;
    margin-left: 67px;
    position: relative;
}

.thirdPage_4_bg {
    width: 130px;
    height: 130px;
    position: absolute;
    top: 76px;
    left: 135px;
}

.thirdPage_3 {
    width: 50%;
    height: 516px;
}

.thirdPage_3_content {
    margin-top: 0px;
    margin-left: 67px;
    position: relative;
}

.thirdPage_3_bg {
    width: 130px;
    height: 130px;
    position: absolute;
    top: 76px;
    left: 135px;
}

.thirdPage_itemImage {
    width: 136px;
    height: 94px;
}

.thirdPage_itemTitle {
    font-size: 44px;
    font-family: SourceHanSansCN-Bold;
    font-weight: bold;
    color: rgba(36, 158, 141, 1);
    line-height: 66px;
    background: linear-gradient(
        223deg,
        rgba(35, 167, 195, 1) 0%,
        rgba(56, 192, 161, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 52px;
}

.thirdPage_itemSubTitle {
    font-size: 28px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(51, 51, 51, 1);
    line-height: 42px;
    margin-top: 15px;
}

.thirdPage_itemContentCell {
    display: flex;
    flex-direction: row;
}

.thirdPage_itemContentPoint {
    width: 9px;
    height: 9px;
    background: linear-gradient(
        223deg,
        rgba(35, 167, 195, 1) 0%,
        rgba(56, 192, 161, 1) 100%
    );
    margin-left: 14px;
    margin-top: 16px;
    border-radius: 4.5px;
}

.thirdPage_itemContentTitle {
    font-size: 26px;
    font-family: SourceHanSansCN-Light;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.4);
    line-height: 38px;
    margin-left: 16px;
    margin-top: 3px;
}
